@font-face {
    font-family: 'Dead Island';
    src: url('../fonts/DeadIsland.eot');
    src: url('../fonts/DeadIsland.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DeadIsland.woff2') format('woff2'),
        url('../fonts/DeadIsland.woff') format('woff'),
        url('../fonts/DeadIsland.ttf') format('truetype'),
        url('../fonts/DeadIsland.svg#DeadIsland') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
